* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #eee;
    background-image: url("https://images.pexels.com/photos/12598/96917deb7705adcee76b65caf8c652b1.jpg?cs=srgb&dl=toolbox-tools-wrenches-12598.jpg&fm=jpg");
    background-repeat-y: no-repeat;
    background-repeat-x: no-repeat;
    background-size: cover;
}


/*HEADER*/

.header {
    height: 25px;
    background: #222;
    color: #eee;
    text-align: center;
    font: 10px/25px Helvetica, Verdana, sans-serif;
}

.header a {
    color: #999;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}


/*LIST*/

ul {
    list-style: none;
}


/*FORM*/

form {
    margin: 50px;
}

input[type='radio'] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

#container {
    padding-left: 20px;
    background-color: rgba(128, 128, 128, .8);
    height: calc(100vh - 25px);
    width: calc(100vw);
}

label a {
    padding-top: 30px;
    display: block;
}

label {
    display: block;
    height: calc(100vh - 25px - 40px);
    width: 80px;
    color: #fff;
    background: rgba(0, 0, 0, .8);
    text-align: center;
    font: 14px/16px Helvetica, Verdana, sans-serif;
    margin-bottom: 10px;
    padding: 5px;
    float: left;
    overflow: hidden;
    -webkit-transition: width 1s ease, background 0.5s ease;
    -moz-transition: width 1s ease, background 0.5s ease;
    -o-transition: width 1s ease, background 0.5s ease;
    -ms-transition: width 1s ease, background 0.5s ease;
    transition: width 1s ease, background 0.5s ease;
}

#rad2+label,
#rad4+label,
#rad6+label,
#rad8+label,
#rad10+label {
    background: rgba(0, 0, 0, .7);
    -webkit-transition: width 1s ease, background 0.5s ease;
    -moz-transition: width 1s ease, background 0.5s ease;
    -o-transition: width 1s ease, background 0.5s ease;
    -ms-transition: width 1s ease, background 0.5s ease;
    transition: width 1s ease, background 0.5s ease;
}

label:hover,
#rad2+label:hover,
#rad4+label:hover,
#rad6+label:hover,
#rad8+label:hover,
#rad10+label:hover {
    background: #232323;
    color: #fff;
    cursor: pointer;
}

button {
    padding: 5px;
}


/*SLIDES*/

.accslide {
    color: #333;
    display: block;
    height: calc(100vh - 25px - 40px);
    width: 0px;
    background: #fff;
    font: 12px/1.5 Helvetica, Verdana, sans-serif;
    padding: 10px 0;
    float: left;
    overflow: hidden;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.accslide p,
h2,
h3,
h4,
img {
    width: calc(100vw - 760px);
    padding-left: 10px;
}

.accslide input,
button,
progress {
    margin-left: 10px;
}

.accslide img {
    margin-top: 10px;
}

input[type="radio"]:checked+label~.accslide {
    width: calc(100vw - 840px);
}
